* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: rgb(8, 38, 94);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo{
    display: flex;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border: 2px solid rgb(32, 79, 233);
    border-radius: 50%;
    cursor: pointer;
    transition: 2s;
}
.logo img:hover {
    transform: rotatex(360deg);
    transition: 2s;
}
.logo nav ul{
    display: flex;
    list-style: none;
}
.logo nav ul li {
    margin:16px 0px 0px 40px;
}
.cv ul li {
    list-style: none;
    margin: 16px 50px 0px 0px;
}
nav ul li a {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(18, 41, 250);
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(4, 14, 48);
}


.aboutMe {
    background: url(/images/pv.jpg) no-repeat;
    background-position: center -150px;
    width: 85%;
    height: 40vh;
    margin: 80px auto;
    text-align: center;
}
.aboutMe .content {
    background: rgba(138, 137, 137, 0.555);
    height: 40vh;
    width: 100%;
}
.aboutMe .img-pv {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    margin: -90px 0px;
}
.aboutMe .img-pv .main {
    width: 200px;
    position: relative;
    transition: 2s;
}
.aboutMe .img-pv .main img{
    width: 200px;
    height: 30vh;
}
.aboutMe .img-pv .main h4 {
    position: absolute;
    z-index: 2;
    left: 40%;
    transition: 2s;
    transform: translateX(30%);
    opacity: 0;
}
.aboutMe .img-pv .main p {
    position: absolute;
    color: #eee;
    background: rgba(0, 0,0, 0.2);
    height: 26vh;
    transition: 2s;
    padding: 12px;
}
.aboutMe .img-pv .main p:hover{
    transform: translateY(20%);
    transition: 2s;
    height: 21vh;
}
.aboutMe .img-pv .main:hover h4{
    transform: scale(1.2);
    opacity: 1;
    color: rgb(14, 104, 238);
    font-size: 20px;
}
.aboutMe .img-pv .main:hover{
    transform: scale(1.1);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: rgba(0, 2, 3, 0.37);
    width: 2.5%;
    top: 50%;
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa {
    margin: 10px 0px;
    cursor: pointer;
}