* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: rgb(8, 38, 94);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    display: flex;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border: 2px solid rgb(32, 79, 233);
    border-radius: 50%;
    cursor: pointer;
    transition: 2s;
}
.logo img:hover {
    transform: rotatex(360deg);
    transition: 2s;
}
.logo nav ul{
    display: flex;
    list-style: none;
}
.logo nav ul li {
    margin:16px 0px 0px 40px;
}
.cv ul li {
    list-style: none;
    margin: 16px 50px 0px 0px;
}
nav ul li a {
    font-family: sans-serif;
    font-size: 25px;
    color: #f6f5f5;
    text-decoration: none;
}
nav ul li a:hover {
    color: #cdd0cb;
}

.im-bg img{
    width: 100%;
    height: 50vh;
}


.text {
    position: absolute;
    width: 60%;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text .main-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    
}
.text .main-text h3 {
    text-align: center;
    color: #000000;
    font-weight: bolder;
}
.im-bg img {
    opacity: .5;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: rgba(0, 2, 3, 0.37);
    width: 2.5%;
    top: 50%;
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa {
    margin: 10px 0px;
    cursor: pointer;
}


.title-left {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    margin: 20px 0px 20px 0px;
}

.title-left h1 {
    color: rgb(10, 103, 209);
    background: rgba(136, 136, 139, 0.397);
    padding: 10px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 20px 0px 0px;
    position: relative;
    left: 57%;
    transform: translateX(-18%);
}
.title-left hr{
    background: rgb(66, 130, 214);
    height: 1vh;
}

.title-right {
    float: right;
    width: 70%;
}
.title-right h1 {
    color: rgb(10, 103, 209);
    background: rgba(136, 136, 139, 0.397);
    padding: 10px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    border-radius: 20px 5px 0px 0px;
}
.title-right hr{
    background: rgb(66, 130, 214);
    height: 1vh;
}


.grid-lay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    margin-bottom:20px;
}
.grid-lay .box h1{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.grid-lay .pic1 {
    background: url(../images/Design-Resume-CV-Template-Word-Format-to-download-1-1.jpg);
    background-size: cover;
}
.grid-lay .pic2 {
    background: url(../images/General-Cover-Letter-Example-Template.png);
}
.grid-lay .pic3 {
    background: url(../images/Urbanest-Resume-Template-b-724x1024.jpg);
}
.grid-lay .box {
    width: 80%;
    margin: 0 auto;
    background-size: cover;
    background-position: center -60px;
    transition: 1s;
    border-radius: 10px;
    border: 2px solid rgb(22, 181, 255);
}
.grid-lay .box:hover {
    transform: scale(.9);
    transition: 1s;
    
}
.grid-lay .box .content{
    padding: 10px;
    text-align: center;
    height: 45vh;
    opacity: 0;
    transition: 1s;
    color: rgb(255, 255, 255);
    background: rgba(130, 128, 236, 0.418);
}
.grid-lay .box .content div {
    margin-top: 20px;
}
.grid-lay .box .content h4 {
    font-size: 20px;
}
.grid-lay .box .content:hover {
    opacity: 1;
    transition: 1s;
    border-radius: 5px;
}
.grid-lay .box .content button {
    width: 70%;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}
.grid-lay .box .content button a{
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}


.aboutMe {
    background: url(/images/pv.jpg) no-repeat;
    background-position: center -150px;
    width: 85%;
    height: 40vh;
    margin: 80px auto;
    text-align: center;
}
.aboutMe .content {
    background: rgba(138, 137, 137, 0.555);
    height: 40vh;
    width: 100%;
}
.aboutMe .content p {
    color: antiquewhite;
    padding: 10px;
}
.aboutMe .content h4 {
    font-size: 20px;
    color: whitesmoke;
}
.aboutMe .img-pv {
    display: flex;
    justify-content: space-around;
    height: 30vh;
    margin: -90px 0px;
}
.aboutMe .img-pv .main {
    width: 200px;
    position: relative;
    transition: 1s;
    font-size: 15px;
}
.aboutMe .img-pv .main img{
    width: 200px;
    height: 30vh;
}
.aboutMe .img-pv .main h4 {
    position: absolute;
    z-index: 2;
    left: 12%;
    transition: 1s;
    opacity: 0;
}
.aboutMe .img-pv .main p {
    position: absolute;
    color: #eee;
    background: rgba(0, 0,0, 0.2);
    height: 26vh;
    transition: 1.5s;
    padding: 11px;
}
.aboutMe .img-pv .main p a {
    color: #f6f5f5;
    font-size: 20px;
}
.aboutMe .img-pv .main p:hover{
    transform: translateY(20%);
    transition: 1.5s;
    height: 21vh;
}
.aboutMe .img-pv .main:hover h4{
    transform: scale(1.1);
    opacity: 1;
    color: rgba(250, 187, 15, 0.89);
    font-weight: bolder;
}
.aboutMe .img-pv .main:hover{
    transform: scale(1.1);
}


.About .title-left {
    margin-top: 12%;
}
.About .layout-me {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 50vh;
}
.About .layout-me .textAboutMe {
    width: 100%;
    margin-left: 30px;
}
.About .layout-me .textAboutMe h1{
    color: rgb(14, 104, 238);
    padding: 10px;
}
.About .layout-me .textAboutMe p {
    padding: 20px;
    text-align: justify;
}
.About .layout-me .textAboutMe button{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #eee;
    background: rgb(15, 99, 209);
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px;
}
.About .layout-me .textAboutMe button:hover {
    background: rgb(11, 67, 139);
}
.About .layout-me .chum-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: 4px solid rgb(14, 104, 221);
}
.About .layout-me img {
    width: 70%;
    border: 4px double rgb(13, 126, 233);
    border-radius: 50%;
}
.About .layout-me h4 {
    width: 100%;
    text-align: center;
}
.boxAboutMe .layout-me .textAboutMe a{
    text-align: center;
    text-decoration: none;
    color: beige;
}
.map {
    width: 80%;
    margin: 0 auto;
}
.map iframe {
    width: 100%;
}

footer {
    background: rgb(8, 38, 94);
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: rgb(240, 21, 64);
    margin: 20px 0px 0px 0px;
}
footer .fa {
    margin: 10px;
}


@media (max-width:767px){
    /* start of medium tablet styles */
        .menu, .logo {
            display: block;
        }
        .menu .logo img {
            position: absolute;
        }
        .logo nav ul{
            flex-direction: column;
            text-align: center;
        }
        .cv ul{
            text-align: center;
        }
        .cv ul li a{
            margin-left: 90px;
        }
        .text {
            position: relative;
        }
        .text .main-text {
            position: absolute;
            top: 100px;
        }
        .grid-lay {
            display: block;
            width: 70%;
            margin: 0 auto;
            
        }
        .grid-lay .box {
            margin: 40px 0px 20px 40px ;
        }
        .aboutMe {
            margin-top: 100px;
            
        }
        .aboutMe .img-pv {
            display: block;
            margin: 20px 0px;
        }
        .aboutMe .img-pv .main {
            margin-left: 35px;
        }
        .aboutMe .img-pv .main p {
            background: rgba(0, 0,0, 0.2);
            width: 500px;
            margin: 10px 0px 0px 0px;
            box-sizing: border-box;
        }
        .aboutMe .img-pv .main img {
            width: 500px;
            height: 40vh;
            margin: 10px 0;
        }
        .About {
            height: 100vh;
            position: relative;
            top: 700px;
        }
        .About .layout-me {
            display: block;
        }
        .About .layout-me .chum-img {
            margin: 0 auto;
            border-right: none;
            border-bottom: 4px solid rgb(14, 104, 221);
        }


        .map {
            margin-top: 700px;
        }
        footer{
            margin: 10px 0px 0px 0px;
        }
        
    }
